$max-width: 1200px;
$space-unit: 8px;
$margin-center: 0 auto;
$color-red: #F00;

.header {
  display: flex;
  margin: $margin-center;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: $max-width;
}

.container {
  margin: $margin-center;
  margin-top: $space-unit;
  max-width: 100%;
  width: $max-width;

  .proposal-actions {
    text-align: center;

    >button,
    >a {
      margin-right: $space-unit;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.form-group-h {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: $space-unit;

  label {
    flex: 0 0 5em;
    text-align: right;
    margin-right: $space-unit;
  }

  input {
    min-width: 20em;
  }

  .auto-complete {
    flex: 0 0 calc(100% - 5em - #{$space-unit});

    ::ng-deep {
      .ui-autocomplete-multiple-container {
        width: 100%;
      }
    }
  }
}

input {
  .ng-touched {
    .ng-invalid {
      border-color: $color-red;
    }
  }
}
